:root {
  --highlighter-yellow: #f6e632;
  --deep-purple: #3a0172;
}

// GENERAL

.home-section:nth-of-type(odd) {
  
  background: var(--highlighter-yellow);

  a {
    color: var(--deep-purple);
  }

}

// FEATURED SECTION //

#featured .col-12.col-lg-8 {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1rem;
  flex-wrap: wrap;
}
#featured .col-12.col-lg-8 > * {
  flex: 1 1 30%;
}
#featured .col-12.col-lg-8 > *:first-child {
  flex: 1 1 100%;
  // grid
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
  "pubimg pubimg pubimg pubimg title title"
  "sum sum sum sum title title"
  "btns btns btns btns title title"
  ;
}

#featured .col-12.col-lg-8 > *:first-child > *:nth-child(2) { grid-area: pubimg; }
#featured .col-12.col-lg-8 > *:first-child > *:nth-child(3) { 
  grid-area: title;
  margin-left: -30vw;
  text-align: right;
  
  a {
    display: block;
    margin-left: 150px;
    background-color: var(--highlighter-yellow);
    border-radius: 3px;
  }
}
#featured .col-12.col-lg-8 > *:first-child > *:nth-child(4) { grid-area: sum; }
#featured .col-12.col-lg-8 > *:first-child > *:nth-child(5) { grid-area: btns; }

#featured .card-simple {
  position: unset;
  margin-top: 0;

  .article-title {
    font-size: 1.1rem !important;
  }
}

#featured .card-simple .article-metadata {
  display: none;
}

@media (min-width: 576px) {
  
  .featurette > div:not(:first-child) {
    flex: 0 0 25%;
    max-width: 25%;
  }

}

@media screen and (max-width: 760px) {
  #featured .col-12.col-lg-8 {
    display: block;

    & > *{
      margin-bottom: 1rem;
    }
  }
  #featured .col-12.col-lg-8 > *:first-child {
    display: block;
  }
  #featured .col-12.col-lg-8 > *:first-child > *:nth-child(3) {
    margin: 0;
    background: none;
    text-align: left;

    a {
      background-color: transparent;
      margin-left: 0px;
    }
  }
}

@media (min-width: 992px){ 

  // ALL SECTIONS, EXCEPT ABOUT
  section:not(#about) {
    .section-heading h1 {
      writing-mode: vertical-lr;
    }
    .col-lg-4 {
      flex: 0 0 15%;
      max-width: 15%;
    }
    .col-lg-8 {
      flex: 0 0 84%;
      max-width: 84%;
    }
    .article-metadata .article-date {
      display: none;
    }
  }

}
